{% extends "@App/layout.html.twig" %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/dashboard/queues">Queues</a></li>
      <li><a href="/dashboard/queues/{{ queue.getKey() }}">{{ queue.getName() }}</a></li>
      <li class="active">#{{ ticket.getReference() }}: {{ ticket.getSubject() }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>#{{ticket.getReference()}}: {{ ticket.getSubject() }}</h1>
        
        {% for comment in comments %}
            <div class="comments panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2" style="text-align: center;">
                            <img class="avatar" src="{{ comment.getPoster().getAvatarUrl() }}" /><br />

                            <b>{{ comment.getPoster().getDisplayName() }}</b><br />
                            <small>{{ comment.getPoster().getEmail() }}</small>
                        </div>
                        <div class="col-md-10">
                            {{ comment.getMessageHtml()|raw }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


        <h3>Reply</h3>
        <div class="comments panel panel-default">
            <div class="panel-body">
                <form action="/dashboard/tickets/{{ ticket.getKey() }}/reply" method="post">
                    <div class="row">
                        <div class="col-md-2" style="text-align: center;">
                            <img class="avatar" src="{{ userprofile.getAvatarUrl() }}" /><br />

                            <b>{{ userprofile.getDisplayName() }}</b><br />
                            <small>{{ userprofile.getEmail() }}</small>
                        </div>
                        <div class="col-md-10">
                            <textarea name="reply_message" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    
                    <div class="buttonbox">
                        <button class="btn btn-primary">Reply</button>
                    </div>
                <form>
            </div>
        </div>


{% endblock %}
